@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    @apply h-full w-full;
  }

  *,
  *::before,
  *::after {
    @apply box-border font-sans;
  }

  body {
    @apply overflow-x-hidden antialiased bg-gray-100 dark:bg-gray-900 w-full h-full;
  }

  body > #root {
    @apply h-full w-full flex flex-col;
  }

  #main-footer {
    @apply mt-auto;
  }
}

.animate-slebew {
  animation: slebew 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
}

@keyframes slebew {
  0%,
  100% {
    transform: translateX(-100%);
  }
  100% {
    opacity: 0;
  }
  50% {
    transform: translateX(200%);
  }
}
